@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url("/fonts/SFProDisplay-Regular.woff") format("woff"),
    url("/fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
    url("/fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("/fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background: #e5e5e5;
}
.header {
  background: #fa8c16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  align-items: center;
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav {
  margin-left: 60px;
  margin-right: auto;
}

.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-right: 15px;
}

.input-gorup {
  height: 32px;
  max-width: 237px;
  width: 60%;
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}

.search-input {
  width: 80%;
  height: 100%;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #bfbfbf;
  padding-left: 12px;
}

.search-button {
  height: 100%;
  width: 20%;
  border: none;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button::-moz-placeholder {
  color: #bfbfbf;
}
.search-button::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-button::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-button::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-button::placeholder {
  color: #bfbfbf;
}

.menu-toggle {
  display: none;
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.posts {
  width: 67%;
}

.post {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.post-body {
  padding-top: 35px;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 0;
}

.post-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.post-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.tags {
  margin-bottom: 22px;
}

.tag {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #bfbfbf;
  margin: 0;
  margin-right: 10px;
  text-decoration: none;
}

.post-footer {
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.post-buttons {
  display: flex;
  align-items: center;
}

.post-button .icon {
  fill: #8c8c8c;
}

.post-button {
  background-color: transparent;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  margin-right: 19px;
  cursor: pointer;
}

.comments-counter,
.likes-counter {
  margin-left: 6.5px;
  display: flex;
  align-items: center;
}

.post-author {
  display: flex;
  align-items: center;
}

.author-username {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #8c8c8c;
  text-decoration: none;
  display: block;
  text-align: right;
}

.post-time {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #bfbfbf;
}

.author-avatar {
  width: 34px;
  height: 34px;
  background-size: 200%;
  margin-left: 9px;
  border-radius: 4px;
}

.sidebar {
  width: 31%;
}

.user {
  background: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
}

.user-name {
  font-family: "SFProDisplay-Semibold", sans-serif;

  font-size: 16px;
  line-height: 24px;
  color: #595959;
  cursor: pointer;
}

.icon-exit {
  fill: #000;
  width: 20px;
  height: 20px;
}

.sidebar-nav {
  background: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
}

.sidebar-menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 48px;
  display: inline-block;
  width: 100%;
}

.sidebar-menu-link:hover {
  background-color: #fffbe6;
}

.sidebar-menu-link.active {
  background-color: #fffbe6;
  border-right: 3px solid #faad14;
  color: #faad14;
}

.button {
  background: #faad14;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 13px;
  cursor: pointer;
}

.add-post .button-outline {
  margin-right: 1%;
}

.button-outline {
  color: #ffc53d;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  border: 1px solid #ffc53d;
  border-radius: 4px;
  max-width: 125px;
  width: 99%;
}

.button-new-post {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.add-button {
  max-width: 370px;
  width: 100%;
  margin-right: 2%;
}

.icon {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.icon-photo,
.icon-video {
  fill: #ffc53d;
}

.card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.card-header {
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 25px;
}

.card-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.card-body {
  padding-top: 22px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 40px;
}

.card-body-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #d48806;
  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;
}

.card-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.promo {
  display: block;
  background-color: #fff;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid #e8e8e8;
  width: 100%;
  height: 261px;
  position: relative;
}

.promo::before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  background: #c4c4c4;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.add-post {
  display: flex;
  flex-direction: column;
}

.add-title,
.add-text {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-left: 31px;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 16px;
}

.add-text {
  min-height: 362px;
}

@media (max-width: 990px) {
  .sidebar {
    position: fixed;
    z-index: 101;
    top: 64px;
    bottom: 0;
    right: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background-color: #e5e5e5;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 5px;
    transform: translateX(100%);
    transition: transform 0.5s;
    overflow-y: auto;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }

  .header-nav {
    display: none;
  }

  .header-menu {
    width: 90%;
    margin: auto;
  }

  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }

  .sidebar.visible {
    transform: translateX(0);
  }
  .posts {
    width: 100%;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }

  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
}

@media (max-width: 676px) {
  .add-buttons {
    display: flex;
    flex-direction: column;
  }
  .add-button {
    width: 100%;
    max-width: 100%;
  }

  .add-post .button-outline {
    margin: 0;
    width: 100%;
    margin-top: 10px;
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  .post-author {
    margin-top: 10px;
  }

  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }

  .author-about {
    order: 2;
    text-align-last: left;
  }

  .post-footer {
    flex-direction: column;
  }

  .add-buttons {
    display: flex;
    flex-direction: column;
  }

  .add-button {
    width: 100%;
  }
}
